.container {
    width: 80%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel {
    width: 100%;
    height: auto;
    
}
.img {
    max-height: 25rem;
}