.container {
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    position: fixed;
}


.routes_container {
    width: 100%;
    height: calc(100vh - 4.6rem);
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    overflow: hidden;
    border-right: 1px solid rgb(209, 209, 209);
}

.logo_container {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
}

.h1 {
    padding-top: 1rem;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 2.6rem;
    height: auto;
    mix-blend-mode: darken;
}

.short_logo {
    padding-top: .5rem;
    width: 2.6rem;
    height: auto;
    position: fixed;
    mix-blend-mode: darken;
}

.data_user_container {
    padding: 1rem .5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.img {
    width: 3rem;
    margin-left: .5rem;
    margin-right: .5rem;
    height: auto;
    border-radius: 50%;
}

.data_user {
    display: flex;
    flex-direction: column;
   
}
.user_name {
    font-weight: 400;
}
.user_nmClasse {
    font-size: 10pt;
    font-weight: 200;
}