
.data_container {
    padding-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
}
.video_aula {
    margin-bottom: 2rem;
}
.video_title {
    font-weight: 200;
}
.img {
    margin-right: 1rem;
    width: 30rem;
}
.video_player {
    position: relative;
    z-index: 8;
    transition: all .2s;
}
.modal_player {
    top: 0;
    width: 30rem;
    color: rgb(22, 208, 255);
    z-index: 9;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.455);
    position: absolute;
    transition: all .2s;
}
.modal_player:hover {
    transition: all .2s;
    cursor: pointer;
}
.video_player:hover .modal_player {
    display: flex;
}