.btn {
	width: 10rem;
	border: none;
	padding: .6rem;
	margin-right: .5rem;
	margin-bottom: .5rem;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: .2s;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
	rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn svg {
	margin-right: .5rem;
}

.btn span {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	box-shadow: rgba(42, 42, 42, 0.474) 0px 1px 7px;
	cursor: pointer;
	transition: .2s;
}

.primary {
	color: #ffffff;
	background-color: var(--green);
}

.secondary {
	background-color: var(--color-default);
}

